

body::-webkit-scrollbar{
    display: none;
}
.active{
    display: block;
}
.disactive{
    display: none;
}

/* HOME SECTION */


.background-home{
    background-image: url("../assets/images/Skyrim-Oblivion-dragon.webp");
    background-repeat:no-repeat;
    background-size: cover;
    filter: brightness(80%);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.background-home > h1{
    margin-top: 5rem;
    color: white;
    font-size: 5rem;
}

.background-home::-webkit-scrollbar{
    display: none;
}
.background-home>img{
    width: 100vw;
    height: 45vw;
}
.container-sword-svg{
    position: absolute;
    top: 13.5vw;
    left: 38vw;
    width: 320px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.container-sword-svg>img{
    width: 100%;
    height: 100%;
}

.container-start-button{
    position: absolute;
    top: 23vw;
}
.start-button{
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid black;
    padding: 10px;
    background-color: #6a0000;
    color: black;
    height: 70px;
    box-shadow: 0px 15px 4px rgba(0, 0, 0, 0.4)
}
/* SEZIONE DELL AVVENTURA */


.wrapper-adventure{
    /* background-color: rgb(189, 131, 59); */
    background: linear-gradient(to top, #5c0e0e 5%, #600808 40%, #321c0d 100%);
    display: flex;
    justify-content: center;
    text-align: start;
}
.container-adventure{
    background-color: rgb(188, 158, 122); 
    width: 75%;
}
.container-text-adventure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-adventure{
    margin: 10px 0px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}
.text-adventure>p{
    font-size: 20px;
    font-weight:bold;
    color: #000000;
}
.container-card-adventure{
    display: flex;
    justify-content: space-evenly;
}
.card-adventure{
    cursor: pointer;
    border: 5px solid black;
    border-radius: 40px;
    height: 100%;
    width: 300px;
    background-color: rgb(168, 137, 111);
    box-shadow: 18px 18px 4px rgba(0, 0, 0, 0.3)
}

.character-img>img{
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    height: 400px;
    width: 100%;
}
.text-card{
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.characters-name{
    font-size: 20px;
}
.characters-nickname{
    margin-bottom: 10px;
}
.characters-description{
    font-size: 13px;
}
.container-hero{
    width: 80%;
    margin-bottom: 20px;
}





/* GAME SECTION */




.wrapper-game{
    background: linear-gradient(to top, #5c0e0e 5%, #600808 40%, #321c0d 100%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 20px;
}
.container-game{
    background-color: rgb(188, 158, 122); 
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-text-game{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-game{
    font-size: 22px;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}
.container-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* BOTTONI */

.container-continue-button{
    cursor: pointer;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
}
.button-continue{
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    height: 35px;
    margin: 10px;
    padding: 10px;
}
