/*dado*/

.dice {
  position: relative;
  width: 80px;
  height: 80px;
  background-image: url('https://www.dadi-online.it/img/dadi/20-facce/dadi-20-facce.png');
  background-size: cover;
  animation: rotateDice 2s linear infinite;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#dice-number {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: 'MedievalSharp';
}


.dice:not(:hover) {
  animation: none;
}

.dice:hover {
  animation: rotateDice 4s linear;
}


@keyframes rotateDice {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*fine dado*/



.navbar {
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, #5c0e0e 5%, #c02323 40%, #2c180b 100%);
  opacity: 0.98;
}





.nav-container {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
}

.List-Nav-Flex{
  display: flex;
  align-items: center;
}

.Tab {
  font-family: 'MedievalSharp';
  font-size: 25px;
  text-decoration: none;
  color: white;
  margin: 0;
  cursor: pointer;

}

.nav-container button {
  border: 0;
  background: transparent;
  cursor: pointer;


}

.Title {
  color: white;
  top: 1.3rem;
  left: 41rem;
  font-size: 40px;
  font-family: 'MedievalSharp';

}

.Omino {
  width: 35px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.sidebar {
  width: 14rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: -25rem;
  background: rgba(131, 10, 10, 0.8);
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.form-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  width: 200px;
  z-index: 999;
}

.NickName {
  background-color: #8B4513;
  color: #FFD700;
  border: 2px solid #FFD700;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'MedievalSharp';
  font-weight: bold;
}

.Gioca-Ora {
  background-color: #8B4513;
  color: #FFD700;
  border: 2px solid #FFD700;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'MedievalSharp';
  font-weight: bold;
}

.List-Nav-Flex-Mobile{
  display: none;
}



@media (max-width: 768px){
  .sidebar-button{
    display: flex;
  }
  .navbar {
    display: flex !important;
    justify-content: center !important;
  }

  .nav-container{
    display: none;
  }
  .menu-icon-hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    position: absolute;
    left: 0;
}

.menu-icon-hamburger-x{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.menu-icon-hamburger span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
  }

  .menu-icon-hamburger-x span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
  }

.menu-icon-hamburger-x span.line:first-child {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon-hamburger-x span.line:last-child {
  transform: rotate(45deg) translate(-5px, -6px);
}

.posizione-x{
  margin-left: auto;
  margin-top: 10px
}

.posizione-sidebar{
  display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 2rem;
    margin-top: 40px;
}
.sidebar.visible {
  left: 0;
}

.List-Nav-Flex-Mobile{
  display: flex;
  align-items: center;
}

.Title{
  font-size: 25px;
}
.dice{
  width: 50px;
  height: 50px;
}


}

