/* SEZIONE NUOVA */
.navbar {
  position: fixed;
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  opacity: 0.98;
  z-index: 100;
}

.navbar-container-left {
  width: 100%;
  display: flex;
  gap: 20px;
}

.navbar-img {
  height: 85px;
  width: 180px;
}
.Title {
  color: white;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}
.navbar-container-middle{
  display: flex;
  justify-content: start;
  width: 35%;
}
.navbar-container-right {
  margin-top: 20px;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-right: 30px;
}

.list-nav>button {
  background: none;
  border: none;
}
.list-nav>button:hover {
  background-color: #cfb000;
  border-radius: 20px;
}

.Tab {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 10px;  
  cursor: pointer;
}

.Tab:hover {
  color: #000000;
}
.user{
    position: relative;
    display: flex;
    cursor: pointer;
    font-size: var(--font-size-desktop);
    color: white;
    width: 180px;
    padding: 0 .45rem;
    font-weight: bold;
}

.user span {
  font-size: 25px;
}

.user:hover{
  background-color: #cfb000;
  border-radius: 20px;
}

.user:hover span{
  color: #000000;
}

.user:hover #arrow-down{
  fill: #000000;
}

#arrow-down{
  font-size: 25px;
  padding-left: 2rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
}

.user:hover .dropdown-option{
  background-color: black;
  width: 140px;
  height: 70px;
  border-radius: 7px;
  visibility: visible;
}

.dropdown-option{
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: height .5s cubic-bezier(1, 0, 0.1, 1) 0s;
    position: absolute;
    left: 5%;
    z-index: 1;
    margin-top: 2.5rem;
    background-color: var(--clr-hover-nav);
}
.dropdown-option ul{
  list-style: none;
  padding: .5rem;
}
.user-option a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0 10px;
}

.user-option a:hover{
  background-color: #cfb000;
  color: #000000;
  border-radius: 20px;
}


/*DADO*/

.dice {
  position: relative;
  width: 70px;
  height: 70px;
  background-image: url('https://www.dadi-online.it/img/dadi/20-facce/dadi-20-facce.png');
  background-size: cover;
  animation: rotateDice 2s linear infinite;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#dice-number {
  position: absolute;
  top: 13%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


.dice:not(:hover) {
  animation: none;
}

.dice:hover {
  animation: rotateDice 4s linear;
}


@keyframes rotateDice {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*FINE DADO*/



/* .navbar {
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:  #191717;
  opacity: 0.98;
  z-index: 100;
} */

.nav-container {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.List-Nav-Flex {
  display: flex;
  align-items: center;
}


/* .Tab:hover {
  border-bottom: 2px solid white;
  border: 1px solid white;
  border-radius: 20px;
} */

/* .Tab {
  font-family: 'MedievalSharp';
  font-size: 25px;
  text-decoration: none;
  color: white;
  margin: 0;
  cursor: pointer;
} */

.nav-container button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* .Title {
  color: white;
  margin-top: 20px;
  font-size: 40px;
} */

/* .Omino {
  width: 35px;
  margin-left: 1rem;
  margin-top: 1rem;
} */

.sidebar {
  width: 14rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: -25rem;
  background: black;
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  padding-top: 100px;
}

.form-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  width: 200px;
  z-index: 999;
}

.NickName {
  background-color: #8B4513;
  color: #FFD700;
  border: 2px solid #FFD700;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'MedievalSharp';
  font-weight: bold;
}

.Gioca-Ora {
  background-color: #8B4513;
  color: #FFD700;
  border: 2px solid #FFD700;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'MedievalSharp';
  font-weight: bold;
}

.List-Nav-Flex-Mobile {
  display: none;
}



@media (max-width: 768px) {
  .sidebar-button {
    display: flex;
  }

  .navbar {
    display: flex !important;
    justify-content: center !important;
  }

  .nav-container {
    display: none;
  }
  .navbar-container-left{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 225px;
  }
  .navbar-img {
    transform: scaleX(-1);
  }
  .Title{
    font-size: 40px;
  }
  .navbar-container-middle{
    display: none;
  }
  .navbar-container-right {
    display: none;
  }
  .Tab:hover{
    color: #000000;
  }
  .menu-icon-hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    position: absolute;
    left: 0;
  }

  .menu-icon-hamburger-x {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-icon-hamburger span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
  }

  .menu-icon-hamburger-x span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
  }

  .menu-icon-hamburger-x span.line:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon-hamburger-x span.line:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .posizione-x {
    margin-left: auto;
    margin-top: 10px
  }

  .posizione-sidebar {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 2rem;
    margin-top: 40px;
  }
  .posizione-sidebar .Tab:hover{
    background-color: #cfb000;
    border-radius: 20px;
  }
  .sidebar.visible {
    left: 0;
  }

  .List-Nav-Flex-Mobile {
    display: flex;
    align-items: center;
  }

  .dice {
    width: 61px;
    height: 61px;
  }
}

@media (max-width: 426px) {
  .List-Nav-Flex-Mobile {
    margin-left: 30px;
  }
}