*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp';
}
.active{
    display: block;
}
.disactive{
    display: none;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 13, 13);
}
.background-home{
    background-repeat:no-repeat;
    background-size:contain;
    height: 44vw;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
}
.background-home>img{
    width: 99vw;
    height: 45vw;
}
.container-sword-svg{
    position: absolute;
    top: 13.5vw;
    left: 38vw;
    width: 320px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.container-sword-svg>img{
    width: 100%;
    height: 100%;
}

.container-start-button{
    position: absolute;
    top: 23vw;
}
.start-button{
    border-radius: 20px;
    border: 3px solid black;
    padding: 10px;
    background-color: rgb(106, 0, 0);
    color: black;
    height: 70px;
}
/* SEZIONE DELL AVVENTURA */
.wrapper-adventure{
    background-color: rgb(169, 136, 95);
}
.container-adventure{
    background-repeat: no-repeat;
}
.container-text-adventure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-adventure{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}
.container-card-adventure{
    display: flex;
    justify-content: space-evenly;
}
.card-adventure{
    border: 5px solid black;
    border-radius: 40px;
    height: 100%;
    width: 300px;
    background-color: rgb(168, 137, 111);
    box-shadow: 18px 18px 4px rgba(0, 0, 0, 0.3)
}

.character-img>img{
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    height: 400px;
    width: 100%;
}
.text-card{
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.characters-name{
    font-size: 20px;
}
.characters-nickname{
    margin-bottom: 10px;
}
.characters-description{
    font-size: 13px;
}
.container-hero{
    width: 80%;
    margin-bottom: 20px;
}
/* BOTTONI */

.container-continue-button{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
}
.continue-button{
    display: flex;
    align-items: center;
    width: 70px;
    height: 25px;
    margin: 10px;
}
