*{
    margin: 0;
    box-sizing: border-box;
}
.background-home{
    background-repeat:no-repeat;
    object-fit: cover;
    height: 760px;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-home>img{
    width: 100%;
    height: 100%;
}
.container-sword-svg{
    position: absolute;
    top: 202px;
    width: 320px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.container-sword-svg>img{
    width: 100%;
    height: 100%;
}
.active{
    display: block;
}
.disactive{
    display: none;
}
.container-start-button{
    position: absolute;
}
.start-button{
    border-radius: 20px;
    border: 3px solid black;
    padding: 10px;
    background-color: rgb(106, 0, 0);
    color: black;
    height: 70px;
    
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 13, 13);
}
.wrapper-home{
    background-color: rgb(169, 136, 95);
}
.container-home{
    
    background-repeat: no-repeat;
}
.container-text-home{
    display: flex;
    justify-content: center;
}
.text-home{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
}
.container-card-home{
    display: flex;
    justify-content: space-evenly;
}
.card-home{
    border: 5px solid black;
    border-radius: 40px;
    height: 100%;
    width: 300px;
    background-color: rgb(168, 137, 111);
}

.character-img>img{
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    height: 400px;
    width: 100%;
}
.text-card{
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.characters-name{
    font-size: 20px;
}
.characters-nickname{
    margin-bottom: 10px;
}
.characters-description{
    font-size: 13px;
}

